<mat-card fxLayout="row wrap" fxLayoutAlign="space-between space-between" fxLayout.lt-sm="column"
    [appHighLight]="'#D8D8D8'">
    <mat-card-header class="cart-item__header" fxLayoutAlign="start center" fxFlex="30">
        <img mat-card-avatar src="{{item.product.imageUrl}}" alt="Photo of {{item.product.name}}">
        <mat-card-title>{{item.product.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
        <input class="cart-item__price" matInput disabled value="{{getTotalPrice() | currency:'USD'}}">
    </mat-card-content>
    <mat-card-actions class="cart-item__actions" fxLayoutAlign="center center">
        <button mat-button color="primary" (click)="onIncreaseByOne()">+</button>
        <mat-form-field class="cart-item__quantity">
            <input matInput value="{{item.quantity}}" disabled>
        </mat-form-field>
        <button mat-button color="primary" (click)="onDecreaseByOne()">-</button>
        <button mat-button color="warn" (click)="onRemoved()">Remove</button>
    </mat-card-actions>
</mat-card>