.item {
    &__card{
        max-width: 250px;
    }
    &__image {
        max-width: 250px;
        max-height: 250px;
    }
    &--in-stock {
        color: green;
    }
    &--out-of-stock {
        color: red;
    }
}
