<h2>Cart items</h2>
<mat-divider></mat-divider>
<div *ngIf="!(isEmpty | async) else emptyCart" fxLayout.lt-sm="column">
    <mat-card fxLayout="row wrap" fxLayoutAlign="end space-between">
        <mat-form-field fxLayoutAlign="center center">
            <mat-label>Sort</mat-label>
            <mat-select [(ngModel)]="orderBySelectedOptionValue">
                <mat-option *ngFor="let orderByOption of orderByOptions" [value]="orderByOption.value">
                    {{orderByOption.displayValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-radio-group fxLayoutAlign="center center" [(ngModel)]="orderByIsAscending">
            <mat-radio-button *ngFor="let sortOrderOption of orderBySortDirectionOptions"
                [value]="sortOrderOption.isAscending" [checked]="sortOrderOption.isDefault">
                {{sortOrderOption.displayValue}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-card>
    <mat-divider></mat-divider>
    <app-cart-item [item]="item" (itemQuantityDecreased)="onItemQuantityDecreased($event)"
        (itemQuantityIncreased)="onItemQuantityIncreased($event)" (itemRemoved)="onItemRemoved($event)"
        *ngFor="let item of items | async | orderBy: orderBySelectedOptionValue:orderByIsAscending">
    </app-cart-item>
    <mat-divider></mat-divider>
    <mat-card fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div>Total: <span>{{totalSum | async | currency: 'USD'}}</span></div>
        <div>Total items: <span>{{totalQuantity | async }}</span></div>
        <button mat-flat-button color="warn" (click)="onClearClick()">Clear</button>
        <button mat-flat-button color="accent" (click)="onCheckoutClick()">Checkout</button>
    </mat-card>
</div>
<ng-template #emptyCart>
    <mat-card>No items...
        <a routerLink="/products" mat-button color="primary">Let's add few here</a>
    </mat-card>
</ng-template>