.product {
    &__image {
        max-width: 250px;
        max-height: 250px;
    }
    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--in-stock {
        color: green;
    }
    &--out-of-stock {
        color: red;
    }
}
