.product {
    &__image {
        max-width: 250px;
        max-height: 250px;
    }
    &__description {
        white-space: normal;
        overflow: auto;
        text-overflow: unset;
    }
    &--in-stock {
        color: green;
    }
    &--out-of-stock {
        color: red;
    }
}

.mat-card-image{
    padding: 16px;
}