<h2>Product</h2>
<mat-divider></mat-divider>
<mat-card *ngIf="product">
    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div fxFlex="30">
            <img mat-card-image src="{{product.imageUrl}}" alt="Photo of {{product.name}}" class="product__image">
        </div>
        <div fxFlex="70">
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>{{product.category | uppercase}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="margin: 0 16px;">
                <p class="product__description">{{product.description}}</p>
                <div>
                    <span *ngFor="let i of [].constructor(averageScore)">
                        <mat-icon color="accent">star_rate</mat-icon>
                    </span>
                </div>
                <span *ngIf="product.isAvailable; else elseBlock">
                    <span class="product--in-stock">Available</span>
                </span>
                <ng-template #elseBlock>
                    <span class="product--out-of-stock">Unavailable</span>
                </ng-template>
                <p><b>{{product.price | currency:'USD'}}</b></p>
            </mat-card-content>
            <mat-card-actions style="margin: 0 16px;">
                <button [disabled]="!product.isAvailable" mat-flat-button (click)="onAddToCart()" color="primary"
                    [appFontAdjustment]=1.1>Add to cart</button>
            </mat-card-actions>
        </div>
    </div>
</mat-card>