<mat-card class="item__card">
    <mat-card-header>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>{{category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://amazingame.ru/upload/iblock/0eb/0eb2b37ea08a9080ee9ec38134edee6f.jpg"
        alt="Photo of {{name}}" class="item__image">
    <mat-card-content>
        <p>{{description}}</p>
        <span *ngIf="isAvailable; else elseBlock">
            <span class="item--in-stock">Available</span>
        </span>
        <ng-template #elseBlock>
            <span class="item--out-of-stock">Unavailable</span>
        </ng-template>
        <p><b>{{price}}$</b></p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onBuy()">Buy</button>
    </mat-card-actions>
</mat-card>